@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
body {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}
/*------------------- vartyop --------------------*/
.wrapper, .wrapper-ifelse {
  justify-content: center;
  margin-top: 80px;
}

.card {
  width: 20%;
  min-height: 350px;
  border-radius: 10px;
  margin: 20px;
  min-width: 300px;
  box-shadow: 5px 10px 30px rgba(88, 75, 75, 0.3);
  float: left;
  background: #fff;
}



.title_cards {
  background: rgb(27, 139, 214);
  color: #ffffff;
  text-align: center;
  line-height: 40px;
  border-radius: 9px 9px 0px 0px;
  font-size: 0.8rem;
  font-weight: 500;
  outline: none;
  padding: 1px;
  border: none;
}

.content_vto, .bank-content {
  padding: 10px;
  text-align: center;
}

input[type="text"],
input[type="date"],
input[type="number"] {
  width: 90%;
  padding: 12px;
  border: none;
  border-radius: 6px;
  margin-top: 6px;
  margin-bottom: 16px;
  background: #f1f1f1;
  outline: none;
}

.btn_vto,.btn-ifelse, .btn-tracnghiem, .btn-showday, .btn {
  width: 60%;
  height: 44px;
  align-items: center;
  color: #ffffff;
  background-color: #2abe4b;
  border-radius: 6px;
  box-shadow: 4px 10px 30px rgba(33, 62, 143, 0.2);
  border: none;
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.btn_vto:hover, .btn-ifelse:hover {
  background-color: #4ae75f;
  transition: all ease 0.2s;
}

.btn_tuoi {
  width: 40%;
}

.kq {
  margin-top: 10px;
  width: 100%;
  color: rgb(27, 139, 214);
  font-size: 1.2rem;
}

#result5 {
  display: none;
  font-size: 0.8rem;
  text-align: left;
  width: 100%;
}

#result5 p {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 0.7rem;
}

.footer_cards, .card-footer, .tracnghiem-footer, .bank-footer {
  text-align: center;
  margin-top: 20px;
  height: auto;
}

#amount, #currency ,.sl_c{
  width: 45%;
  padding: 12px;
  border: none;
  border-radius: 6px;
  margin-top: 6px;
  margin-bottom: 16px;
  background: #f1f1f1;
}

/* -------------------------- home-index ------------------------ */

#main {
  width: 100%;
  height: 100vh;
  position: relative;
}

#main {
  width: 100%;
  height: 100vh;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.02);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  background: linear-gradient(-45deg, #23A6D5, #416cdf, #c8892a);
}

.logo img {
  height: 70px;
}

nav ul {
  display: flex;
  min-width: 180px;
  list-style: none;
}

nav ul li a, .hey {
  height: 40px;
  line-height: 43px;
  margin: 3px;
  padding: 0px 22px;
  display: flex;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #FFF;
  letter-spacing: 1px;
  position: relative;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

nav ul li a::after, .hey::after {
  content: '';
  width: 0%;
  height: 5px;
  background: #f12711;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: absolute;
  bottom: 0%; left: 50%;
  border-radius: 10px;
  transition: all 500ms ease;
}

nav ul li a:hover::after, .hey:hover::after{
  left: 0%;
  width: 100%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu, .submenu-content {
  display: none;
  position: absolute;
  background: linear-gradient(-45deg, #23A6D5, #416cdf, #c8892a);
  border-radius: 4px;
  box-shadow: 5px 10px 30px rgba(64, 106, 198, 0.3);
  padding-left: 0;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown .dropdown-menu a {
  justify-content: center;
}


.dropdown-submenu{
  position: relative;
  display: inline-block;
  width: 100%;
}

.dropdown-submenu:hover .submenu-content{
  display: block;
}

.submenu-content{
  top: -1px;
  left: 160px;
}

.model img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.model {
  width: 500px;
  height: 500px;
}

.content {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.main-text {
  width: 500px;
}

.main-text h1 {
  font-size: 3.5rem;
  color: #1c3548;
  margin: 0px 0px 10px 0px;
  line-height: 60px;
}

.main-text p {
  color: #747474;
}

.portfolio-btn,
.recent-btn,
.client-box a {
  width: 190px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #5689e7;
  border-radius: 20px;
  box-shadow: 4px 10px 30px rgba(33, 62, 143, 0.2);
}

.portfolio-btn:hover,
.recent-btn:hover,
.client-box a:hover {
  background-color: #2a60c8;
  transition: all ease 0.2s;
}

#skills {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: auto auto 50px auto;
}

.skill-text {
  width: 400px;
}

.skill-img {
  width: 600px;
  height: 600px;
}

.skill-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.skill-text {
  width: 400px;
}

.skill-heading span {
  color: #2a60c8;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1rem;
}

.skill-text h2 {
  color: #1c3548;
  font-size: 3.3rem;
  margin: 0px;
  font-weight: 400;
  letter-spacing: 1px;
}

.s-box-container {
  margin-top: 30px;
}

.skill-box {
  display: flex;
  margin: 25px 0px;
}

.s-box-icon {
  margin-right: 12px;
}

.s-box-icon {
  width: 45px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  font-size: 1.1rem;
}

.s-box-text strong {
  color: #1c3548;
  margin: 0px;
  font-size: 0.9rem;
  font-weight: 600;
}

.s-box-text p {
  color: #747474;
  font-size: 0.9rem;
}

.fa-html5 {
  color: #e06061;
}

.fa-css3-alt {
  color: #416cdf;
}

.fa-js-square {
  color: #f98231;
}

#recent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0px;
  flex-direction: column;
}

.recent-heading span,
.client-heading span {
  color: #2a60c8;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.1rem;
}

.recent-heading h3,
.client-heading h3 {
  color: #1c3548;
  font-size: 3rem;
  margin: 0px;
  font-weight: 400;
  letter-spacing: 1px;
}

.recent-img {
  margin: 0px 40px;
}

.recent-img img {
  width: 100%;
  height: 100%;
}

.recent-btn {
  width: 190px;
  margin-top: -20px;
}

#client {
  width: 100%;
  border-top: 1px solid rgba(58, 58, 58, 0.03);
  border-bottom: 1px solid rgba(58, 58, 58, 0.03);
  padding: 50px 0px;
  background-position: center;
  background-size: 1000px;
  background: linear-gradient(-45deg, #23A6D5, #416cdf, #c8892a);
}

.client-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.c-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0px;
}

.client-box {
  width: 310px;
  height: 350px;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  justify-content: content;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  margin: 20px;
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.08);
}

.client-box img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
}

.client-box strong {
  color: #1c3548;
  margin: 0px;
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 10px;
}

.star {
  display: flex;
  margin: 5px 0px 10px 0px;
}

.fa-star {
  color: #ff9529;
}
.client-box p {
  color: #747474;
  font-size: 0.9rem;
  margin: 0px;
  text-align: center;
  display: block;
  display: -webkit-box;
  max-width: 80%;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.client-box a {
  width: 140px;
  margin-top: 20px;
  border-radius: 0px;
}


/* ---------------------- Calculator -------------------------- */

.bg_cal {
  background: #5372f0;
}

.wrapper_cal{
  width: 350px;
  height: 480px;
  margin: 35px auto;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

#display_cal {
  margin: 0;
  border: none;
  outline: none;
  width: 350px;
  height: 80px;
  color: #5e5858;
  font-size: 58px;
  font-weight: 700;
  padding: 10px;
  text-align: right;
  background: #2abe4b;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.buttons-box {
  margin: 35px 15px;
}

.btn_cal {
  width: 60px;
  margin: 8px;
  height: 60px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 28px;
  line-height: 30px;
  border-radius: 20%;
  color: #5e5858;
}

.btn_cal:hover {
  background: rgba(0, 0, 0, 0.1);
}

.cbtn_cal,
.cbtn_cal:hover {
  background: red;
  color: white;
}

.mbtn_cal,
.mbtn_cal:hover {
  background: tomato;
  color: white;
}

.title_cal {
  text-align: center;
  color: #fff;
  margin-top: 100px;
  font-weight: 700;
  font-size: 2.5rem;
}

/*--------------------- Game-Tank-------------------------- */

#body-tank{
  background: #5372f0;
  display: flex;
}

.tank-content{
  margin: auto;
  margin-top: 100px;
}

.game-board{
  border: solid 5px greenyellow;
  width: 480px;
  height: 480px;
  margin: auto;
  position: relative;
  float: left;
}

.tank-control{
  width: 200px;
  height: 200px;
  align-items: center;
  float: left;
}

table, tr, td{
  text-align: center;
}
table{
  width: 100%;
  height: 100%;
}

.btn_tank{
  padding: 10px;
  background: rgb(228, 222, 222);
  border: none;
  outline: none;
  border-radius: 6px;
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.08);
}

.btn_tank i{
  font-size: 30px;
  color: #c8892a;
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.08);
}

.btn_tank i:hover{
  color: #6b4408;
}

#tank, #boom{
  width: 40px;
  height: 40px;
  position: absolute;
  border-radius: 4px;
}

/* --------- IF-ELSE --------- */

#body-ifelse{
  background: #5372f0;
}

.sec-ifelse{
  width: 60%;
  min-height: 350px;
  border-radius: 10px;
  margin: 10% auto;
  min-width: 300px;
  box-shadow: 5px 10px 30px rgba(88, 75, 75, 0.3);
  background: #fff;
}

.card-content{
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.card-content-birth{
  align-items: center;
  text-align: center;
}

.card-birth{
  width: 45%;
  margin: 20px;
  min-height: 100px;
  min-width: 200px;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 5px 10px 30px rgba(88, 75, 75, 0.3);
  background: #fff;
}

.card-tilte{
  background: rgb(69, 207, 115);
  color: #fff;
  padding: 1px;
  border-radius: 10px 10px 0px 0px;
  text-align: center;
  font-family: "Poppins" sans-serif;
  font-weight: 300;
}

.result-else{
  color: #416cdf;
}

#result-else{
  border: solid 1px;
}


/* ------------------------- Good-Cheap-Fast ----------------------------- */

body.good-cheap-fast{
  background: linear-gradient(-45deg, #23A6D5, #E73C7E, #EE7752, #23D5AB);
  background-repeat: no-repeat;
  background-size: 400% 400%;
} 

.card-good,.calendar-cards, .songuyento-cards,.bank-card{
  margin: 120px auto;
  width: 400px;
  box-shadow: 5px 10px 30px rgba(88, 75, 75, 0.3);
  border-radius: 6px;
  background: linear-gradient(-45deg, #E73C7E, #23A6D5, #23D5AB );
  color: #fff;
  min-height: 500px;
  padding: 1px;
}

.good-title, .cauhoi-title{
   text-align: center;
   font-weight: 700;
   border-radius: 6px;
   padding: 5px;
   font-size: 40xp;
}

.row-good{
  align-items: center;
  text-align: center;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  justify-content: center;
  display: flex;
}

.row-good h2{
  width: 45%;
  text-align: center;
  padding: 0;
  margin: auto 40px;
  font-size: 40px;
  font-weight: 700;
  right: 0px;
}

.row-good>input[type="checkbox"]{
  width: 80px;
  height: 40px;
  appearance: none;
  background: #c6c6c6;
  border-radius: 20px;
  transition: .5s;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  position: relative;
  padding-left: 10px;
}

.row-good>input#good:checked[type="checkbox"]{
  background: rgb(50, 228, 145);
}

.row-good>input#cheap:checked[type="checkbox"]{
  background: rgb(22, 119, 230);
}

.row-good>input#fast:checked[type="checkbox"]{
  background: rgb(230, 95, 17);
}

.row-good>input[type="checkbox"]:before{
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  top: 0;
  left: 0;
  background: #fff;
  transform: scale(1.1);
  transition: .5s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.row-good>input:checked[type="checkbox"]:before{
  left: 40px;
}

/* --------------- trac nghiem -------------------- */

.cauhoi>input[type="checkbox"],input[type="radio"]{
  display: inline-block;
}

.container-tracnghiem{
  margin: 120px auto;
  width: 70%;
  box-shadow: 5px 10px 30px rgba(88, 75, 75, 0.3);
  border-radius: 6px;
  background: linear-gradient(-45deg, #E73C7E, #23A6D5, #23D5AB );
  color: #fff;
  padding: 5px;
}



/* --------------- for calendar -------------------- */

.calendar{
  display: flex;
}

.calendar-cards, .songuyento-cards, .bank-card{
  text-align: center;
}

.calendar-week-day>table, #songuyento-result {
  text-align: center;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
}

.calendar-week-day>th,td{
  padding: 5px;
}

#songuyento-result>span{
  padding: 10px;
  
}


/* --------------- bank ------------------- */

#bank-laikep{
  width: 50%;
  padding: 12px;
  margin: 6px;
  border-radius: 6px;
  background: #f1f1f1;
  outline: none;
  border: none;
  font-family: "Roboto" sans-serif;
}
